:root {
    --pfont: 'poppins', sans-serif;
    --rfont: 'roboto', sans-serif;
}

body {
    margin: 0 auto;
}

/*Блок №1*/

.firstblock {
    display: flex;
    background-color: black;
    height: 773px;

}

.leftside1 {
    color: white;
    padding: 20px 10px 10px 100px;
    overflow: hidden;

}

.bikcraft {
    font-family: var(--pfont);
    font-size: 36px;
    font-weight: 500;
    margin: 10px 420px 150px 0;
}

.bikcraft:hover {
    color: #FFBB00;
}

.bicicletas {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 64px;
}

.dot {
    color: #FFBB00;
}

.bicicletasabout {
    font-family: var(--rfont);
    font-weight: 400;
    font-size: 24px;
    color: #B2B2B2;
    margin: 35px 0 35px 0;
}

.selectione {

    background-color: #2E2E2E;
    height: 50px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 20px;
    color: white;

}

.selectione:hover {
    background-color: rgba(246, 173, 9, 1);
    color: #332200;
}


.rightside1 {
    display: block;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 60px;
}

.fbul {
    display: flex;
    font-family: var(--pfont);
    font-weight: 500;
    font-size: 18px;
    margin-left: 200px;
    list-style-type: none;
    color: rgba(255, 255, 255, 1);
}

.fb li:hover {
    color: #FFBB00;
}

.fb ul li {
    margin: 0 15px;
    display: flex;
    list-style-type: none;
    color: rgba(255, 255, 255, 1);
}

.bikephoto {
    box-sizing: border-box;
    height: 800px;
    width: 640px;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/bike.png);
}

/*Блок №2*/

.secondblock {
    margin-top: 180px;
    display: block;
}

.sbtitle {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 64px;
    margin-left: 70px;
}

.cards {
    display: flex;
    justify-content: center;

}

.card {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.row {
    display: flex;
}

.model {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 32px;
    padding-left: 10px;
}

.bikeprice {
    font-family: var(--rfont);
    font-weight: 500;
    font-size: 18px;
    color: #595959;
    padding-left: 33px;
}

.cardsize {
    height: 509px;
    width: 430px;
}

/*Блок №3*/

.thirdblock {
    display: flex;
    background: black;
    padding-left: 30px;
    margin-top: 300px;
    height: 1000px;
}

.leftblock2 {
    display: block;
    padding-right: 80px;
    padding-left: 100px;
    width: 50%;
    overflow: hidden;
}

.firstrow {
    font-family: var(--rfont);
    font-weight: 500;
    font-size: 24px;
    color: #B2B2B2;
    margin-top: 90px;
    margin-bottom: 40px;
}

.secondrow {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 64px;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.thirdrow {
    font-family: var(--rfont);
    font-weight: 400;
    font-size: 24px;
    color: #B2B2B2;
    padding-bottom: 40px;
}

.fourthrow {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 24px;
    color: #FFBB00;
}

.line {
    border-bottom: 5px solid #FFBB00;
    width: 260px;
    padding-top: 1px;
}

.fifthrowblock {
    display: flex;
    padding-top: 10px;
}

.fifthrowblock1 {
    display: flex;
}

.pmotor {
    font-family: var(--pfont);
    font-weight: 500;
    font-size: 24px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 1);
}

.ptoda {
    font-family: var(--rfont);
    font-weight: 400;
    font-size: 16px;
    color: #B2B2B2;

}

.rightblock2 {

    box-sizing: border-box;
    height: 1120px;
    width: 700px;
    margin-top: -60px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-image: url(../img/diferencial\ 1.png);

}

.fifthrowblock11 {
    padding-right: 90px;
}

/*Блок №4 */

.fourtblock {
    margin-top: 200px;
}

.sbtitle2 {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 64px;
    margin-left: 70px;
    margin-bottom: 50px;
}

.tdstyle {
    border: 2px solid #E0E0E0;
    text-align: center;
    height: 70px;
    width: 120px;
    padding: 1%;
}

.tablestyle {
    width: 100%;
    border-spacing: 16px;
    padding: 0 40px 0 40px;
}

.tdstyle:hover {
    background-color: #FFBB00;
    border: 0.1px solid #FFBB00;
}

.fourtblockbox {
    background: #FFBB00;
    height: 680px;
    display: flex;
    margin-top: 50px;
}

.depoimento {
    width: 660px;
    height: 680px;
}

.fourtblockboxcontent {
    display: flex;
    overflow: hidden;
    padding: 250px 120px 0 20px;
}

.content {
    display: block;
}

.content1 {
    font-family: 'merriweather', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 32px;
}

.lapku {
    height: 32px;
    width: 115px;
}

.contentbottom2 {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    color: #664400;
}

/*Блок №5*/

.fifthblock {
    background: rgba(22, 22, 22, 1);
    height: 737px;
}

.sbtitle3 {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 64px;
    padding-top: 40px;
    margin: 0 0 50px 70px;
    color: white;
}

.twofiftshblocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 120px 0 120px;
}

.firstfiftshblock {
    display: flex;
    justify-content: space-evenly;
    background: black;
    height: 381px;
    width: 456px;
    border-radius: 2%;
}

.lbfb {
    display: block;
}

.lbfb2 {
    margin-left: 15px;
}

.rbfb {
    margin-left: 60px;
}

.rbfb2 {
    margin-left: 25px;
}

.pr {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 36px;
    color: #9C9C9C;
    margin-top: 36px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.pr2 {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 36px;
    color: white;
    margin: 36px 0 0 0;
}

.or {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 36px;
    color: #FFBB00;
    margin-top: 36px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.secondfiftshblock {
    display: flex;
    justify-content: space-evenly;
    background: black;
    height: 456px;
    width: 456px;
    border-radius: 2%;
}

.model2 {
    font-family: var(--rfont);
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 1);
}

.selectione2 {
    margin-top: 22px;
    background-color: rgba(46, 46, 46, 1);
    height: 43px;
    width: 177px;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 20px;
    color: #CCCCCC;
}

.selectione2:hover {
    background-color: #FFBB00;
    color: black;
}

.mens {
    font-family: var(--pfont);
    font-weight: 600;
    font-size: 12px;
    color: #9C9C9C;
    margin-top: -10px;
    text-align: end;
}


.row2 {
    display: flex;
    padding: 10px 0 10px 0;
}

/*Футер*/

.footer {
    display: flex;
    height: 474px;
    background: black;
    color: white;
    padding-left: 100px;
}

.bikcraft2 {
    font-family: var(--pfont);
    font-size: 36px;
    font-weight: 500;
    margin: 20px 20px 350px 0;
}

.bikcraft2:hover {
    color: #FFBB00;
}

.frstcolfooter .scndcolfooter .thirdcolfooter {
    display: block;
}

.scndcolfooter {
    margin: 40px 20px 20px 100px;
}

.alguns {
    font-family: var(--rfont);
    font-weight: 400;
    font-size: 18px;
    color: #9C9C9C;
}

.contato {
    font-family: var(--rfont);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 45px;
    color: rgba(255, 255, 255, 1);
}

.contato:hover {
    color: #FFBB00;
}

.phml {
    display: block;
    padding-top: 20px;
    flex-direction: column;
}

.tel {
    color: #B2B2B2;
    text-decoration: none;
    font-size: 22px;
    padding-bottom: 10px;
}

.ml {
    color: #B2B2B2;
    text-decoration: none;
    font-size: 22px;
    margin-top: 15px;
}

.tel:hover {
    color: #FFBB00;
}

.ml:hover {
    color: #FFBB00;
}


.adress {
    color: #B2B2B2;
    text-decoration: none;
    font-size: 22px;
    margin-top: 60px; 
}

.adress2 .maps {
    color: #B2B2B2;
    text-decoration: none;
    font-size: 22px;
    margin-top: 15px;
}

.social {
    margin-top: 25px;
    display: flex;
}

.pad {
    padding: 0 40px 0 40px;
}

.thirdcolfooter {
    margin: 40px 20px 20px 200px;
}

.ulfooter {
    color: #B2B2B2;
}

li {
    list-style-type: none;
    font-family: var(--pfont);
    font-weight: 500;
    font-size: 18px;
    padding: 10px 0 10px 0;
}

li:hover {
    color: #FFBB00;
}

.informacoes {
    font-family: var(--rfont);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 1);
}

.informacoes:hover {
    color: #FFBB00;
}
